h1
{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
    font-family: Helvetica;
}

#brush
{
    background-color: mediumspringgreen;
    font-size: 32px;
    color: white;
    font-family: Helvetica;
}

.price {
    color: blue;
    font-weight: bold;
}

p {
    font-family: Helvetica;
}

#frame {
    background-color: lightcoral;
}

.item h2 {
    color: white;
    font-size: 32px;
}

h2 {
    display: block;
    margin-block-start: 0.83;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Helvetica;
}

h3{
    display: black;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Helvetica;
}

#paint {
    background-color: skyblue;
}